body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

.block-top {
    text-align: center;
}

.block-top__subtitle {
    margin-top: 40px;
    text-align: center;
}

.block-top__subtitle h5 {
    color: #86878B;
}

.block-top__subtitle h5,
.block-bottom__text h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.block-bottom__heading h4 {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}

.block-bottom__wripper {
    padding: 110px 0 58px 0;
    display: flex;
    justify-content: space-between;
}

.block-bottom__content {
    max-width: 370px;
    text-align: center;
}

.block-bottom__img {
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 100%;
    align-items: center;
    display: flex;
    margin: 0 auto 70px auto;
}

.block-bottom__img img {
    margin: 0 auto;
}

.block-bottom__text {
    margin-top: 40px;
}

@media screen and (max-width: 1024px) {

    .block-top__subtitle {
        margin-top: 32px;
    }

    .block-bottom__wripper {
        padding: 66px 0 60px 0;
    }

    .block-bottom__img {
        margin: 0 auto 62.5px auto;
        width: 80px;
        height: 80px;
        padding: 8px;
    }

    .block-bottom__content:nth-child(2) img {
        width: 93%;
    }

    .block-bottom__content:last-child img {
        width: 60%;
    }

    .block-bottom__text {
        margin-top: 37.5px;
        max-width: 317px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 924px) {

    .block-bottom__wripper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .block-bottom__content {
        padding-top: 15px;
    }
}

@media screen and (max-width: 768px) {

    .block-bottom__content {
        padding-top: 44px;
    }
}

@media screen and (max-width: 576px) {

    .block-top__subtitle {
        margin-top: 25px;
    }

    .block-bottom__wripper {
        padding-top: 40px;
    }
}