.banner__container {
    width: 100%;
}

.banner__wrapper {
    text-align: center;
    background:  
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/image.png');
    padding: 50px 0;
}

.banner__header {
    padding: 54px 0;
}

.banner__header h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}

.banner__text h5 {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 73px;
    padding-top: 40px;
}


@media screen and (max-width: 1024px) {

    .contacts__text h5 {
        padding: 32px 0 72px 0;
    }

    .banner__wrapper {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../img/image2.png);
        background-size: cover;
    }

    .banner__text h5 {
        padding: 32px;
    }
}



