.menu {
    width: 100%;
    height: 75px;
    background-color: #000;
    position: fixed;
    z-index: 2;
}

.menu__container {
    max-width: 1280px;
    margin: 0 auto;
    padding-right: 55px;
}

.menu .logo {
    width: 183px;
    height: 74px;
}

.menu__wrapper {
    display: flex;
    align-items: center;
}

nav {
    margin-left: auto;
}

nav .navigation {
    display: flex;
    width: 570px;
    justify-content: space-around;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    
    cursor: pointer;
    transition: all 0.5s ease;
}

.navigation li a:hover {
    color: rgba(96, 90, 90, 0.8);
}

.banner-first__background {
    background: url(../img/banner-first.png) no-repeat center;
    background-size: cover;
    position: relative;
}

.banner-first__wrapper {
    padding: 283px 0 185px 0;
    position: relative;
}

.banner-first__background::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.blocks {
    display: flex;
    justify-content: space-between;
}

.axure__heading {
    padding: 51px 0 55px 0;
    max-width: 670px; 
}

.axure__heading h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
}

.axure__text {
    padding: 42px 0;
    max-width: 270px;
}

.axure__text h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

.axure .divider {
    margin: 0;
}

.form__wrapper {
    width: 470px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
}

.form__heading {
    padding: 29px 0;
}

.form__heading span {
    color: #EC7979;
}

.form__heading h4 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #333333;
}

.form__inputs {
    padding: 45px 50px 75px 50px;
}

.form__input {
    margin-bottom: 33px;
}

.form__input:last-child {
    margin-bottom: 0;
}

.form__input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 16px;
    height: 38px;
}

input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD; 
}





.social__bacgraund {
    background-color: #F8EFEF;
}

.social__block {
    display: flex;
    justify-content: space-between;
}

.social__content {
    max-width: 470px;
}

.social__heading {
    padding: 13.5px 0;
}

.social__heading h4 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.social__text {
    padding: 18px 0;
}

.social__text h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.social__icons {
    display: flex;
    width: 670px;
    justify-content: space-between;
    padding: 34px 0;
    cursor: pointer;
}

.social__icon {
    border-bottom: 2px solid transparent;
}

.social__icon img {
    width: 70px;
    height: 70px;
}

.social__icon:hover {
    border-bottom: 2px solid rgb(204 204 204);
}



@media screen and (max-width: 1024px) {

    .banner-first__wrapper {
        padding: 212px 0 106px 0;
    }

    .axure__heading {
        padding: 38px 0 42px 0;
    }

    .axure__text {
        max-width: 183px;
        padding: 31px 0;
    }

    .form__heading {
        padding: 32.5px 0;
    }

    .axure__heading h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .logo {
        width: 183px;
        height: 75px;
    }

    .axure__heading {
        max-width: 454px;
    }

    .axure .btn {
        width: 183px;
        height: 50px;
    }

    .axure .divider_white {
        width: 115px;
    }

    .form__wrapper {
        width: 398px;
    }

    .social__heading {
        padding: 10px 0;
    }

    .social__text {
        padding: 13px 0;
        max-width: 402px;
    }

    .social__icons {
        padding: 26px 0 15px 0;
        width: 570px;
    }

    .social__icon img {
        width: 64px;
        height: 64px;
    }

    .menu__container,
    .banner-first .container {
        max-width: 909px;
        margin: 0 0 0 auto;
        padding-right: 20px;
    }

    .axure__text h5,
    .social__text h5,
    .tabs__text h5,
    .block-top__subtitle h5,
    .block-bottom__text h5,
    .pricing__subtitle h5,
    .card__text h5, 
    .reviews__text h5,
    .box__info-proffesion h5 ,
    .banner__text h5,
    .contacts__text h5,
    .copyright h5,
    .box__text h5  {
        font-size: 14px;
        line-height: 16px;  
    }

    .contacts .header h2 {
        font-weight: 700;
    }

    .form__heading h4,
    .social__heading h4,
    .block-bottom__heading h4,
    .card__info-name h4,
    .box__info-name h4 {
        font-size: 18px;
        line-height: 25px;        
    }

    .tabs__heading h3 {
        font-size: 24px;
        line-height: 33px;
    }

    .header h2,
    .banner__header h2 {
        font-size: 24px;
        line-height: 28px;
    }

}