@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.banner__container {
    width: 100%;
}

.banner__wrapper {
    text-align: center;
    background:  
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/image.png');
    padding: 50px 0;
}

.banner__header {
    padding: 54px 0;
}

.banner__header h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    font-family: 'Raleway';
}

.divider_white {
    border-bottom: 1px solid #fff;
}

.banner__text h5 {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 73px;
    padding-top: 40px;
}

.banner__btn button {
    width: 370px;
    height: 58px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Open Sans';
    cursor: pointer;
    transition: all 0.5s ease;
}

.banner__btn button:hover {
    border: 2px solid rgba(96, 90, 90, 0.8);
    color: rgba(96, 90, 90, 0.8);
}