.pricing {
    background-color: #F5F5F5;
}

.pricing__wrapper {
    padding-top: 50px;
    text-align: center;
}

.pricing__subtitle {
    padding: 40px 0;
}

.pricing__subtitle h5 {
    color: #86878B;
}

.pricing__subtitle h5,
.card__slogan h5 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.cards__wrap {
    display: flex;
    justify-content: space-between;
    padding: 39px 0 50px 0;
}

.card {
    max-width: 100%;
    width: 370px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.card__rate-name {
    color: #fff;
    height: 60px;
}

.card__rate-name h4 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.card__rate-name,
.card__price,
.card__slogan {
    background-color: #333;
    border: 2px solid #F5F5F5;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card__price {
    height: 100px;
    color: #fff;
}

.card__price h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.card__slogan {
    color: rgba(255, 255, 255, 0.5);
    height: 50px;
}

.card__plan-benifit li {
    border: 2px solid #F5F5F5;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #86878B;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
}

.card:hover {
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    transform: translate3d(0px, -20px, 100px);
}

@media screen and (max-width: 1024px) {

    .card {
        max-width: 317px;
    }

    .card__avatar-wrapper {
        width: 64px;
        height: 64px;
    }

    .pricing__subtitle {
        padding: 32px 0;
    }


    .cards__wrap {
        padding: 10px 0 50px 0;
    }

    .card__rate-name {
        height: 53px;
    }

    .card__price {
        height: 89px;
    }

    .card__slogan,
    .card__plan-benifit li {
        height: 44px;
    }
}

@media screen and (max-width: 924px) {

    .cards__wrap {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        padding-bottom: 27px;
    }
}

@media screen and (max-width: 576px) {

    .pricing__wrapper {
        padding-top: 0;
    }

    .pricing__subtitle {
        padding: 24px 0;
    }

    .cards__wrap {
        padding: 0;
    }

    .card__rate-name {
        height: 47px;
    }

    .card__price {
        height: 78px;
    }

    .card__slogan {
        height: 39px;
    }

    .card__rate-name h4 {
        font-size: 18px;
        line-height: 25px;
    }

    .card__price h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .card__slogan h5,
    .card__plan-benifit li {
        font-size: 14px;
        line-height: 16px;
    }

    .card__plan-benifit li {
        height: 39px;
    }
}