.tabs__box {
    padding: 100px 0 50px 0;
}

.tabs__wrap {
    font-size: 0;
}

.tabs__wrap>input[type="radio"] {
    display: none;
}

.tabs__wrap>div {
    display: none;
    border: 1px solid #C6CBCD;
}

#tabs_btn-1:checked~#tabs__content-first,
#tabs_btn-2:checked~#tabs__content-second,
#tabs_btn-3:checked~#tabs__content-third {
    display: block;
}

.tabs__wrap>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    cursor: pointer;
    width: 184px;
    height: 40px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.tabs__wrap>input[type="radio"]:checked+label {
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    background: #fff;
    top: 1px;
    width: 203px;
    height: 40px;
}

.tabs__content-wrap {
    display: flex;
}

.tabs__heading {
    padding: 41px 0;
}

.tabs__heading h3 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.tabs__block-information {
    max-width: 570px;
    margin: 0 30px 0 100px;
    padding-bottom: 54px;
}

.tabs__text {
    padding: 27px 0;
}

.tabs__text h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    white-space: pre-line;
}

.tabs__picture {
    max-height: 500px;
}

.tabs__picture img {
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 1024px) {

    .tabs__box {
        padding: 50px 0 50px 0;
    }

    .tabs__wrap>input[type="radio"]:checked+label {
        width: 172px;
    }

    .tabs__wrap>label {
        width: 156px;
    }

    .tabs__heading {
        padding: 28px 0;
    }

    .tabs__text {
        padding: 38px 0;
    }

    .tabs .button {
        width: 232px;
    }

    .tabs__block-information {
        margin: 0 25px 0 85px;
        max-width: 483px;
        padding-bottom: 50px;
    }

    .tabs__content-wrap {
        max-height: 385px
    }
}

@media screen and (max-width: 924px) {

    .tabs__block-information {
        margin: 0 25px;
    }
}

@media screen and (max-width: 768px) {

    .tabs__picture {
        display: none;
    }

    .tabs__content-wrap {
        max-height: 100%;
    }

    .tabs__block-information {
        max-width: 100%;
        text-align: center;
    }

    .tabs__wrap>label {
        width: 93px;
    }

    .tabs__wrap>input[type="radio"]:checked+label {
        width: 102px;
    }


}

@media screen and (max-width: 576px) {

    .tabs__heading {
        padding: 30px 0;
    }

    .tabs__text {
        padding: 29px 0;
    }

    .tabs .button {
        width: 243px;
    }

    .tabs__box {
        padding: 41px 0 0px 0;
    }

    .tabs__block-information {
        margin: 0 20px 0 25px;
    }

    .tabs__text h5 {
        font-size: 13px;
        line-height: 15px;
    }

    .tabs__block-information {
        padding-bottom: 30px;
    }

}