body {
    font-family: 'Montserrat', sans-serif;
}

.form__container {
    max-width: 1334px;
    margin: 0 auto;
}

.form__wrapper {
    padding: 95px 0 50px 0;
    background-color: #FBF7F6;
}

.review__wrap {
    max-width: 1234px;
    margin: 0 auto;
}

.review__title h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.04em;
}

.review__message {
    padding: 25px 0 30px 0;
}

.review__message textarea {
    width: 100%;
    height: 188px;
    padding: 25px 0 0 18px;
    background-color: #F9F0EE;
    resize: none;
    border-radius: 5px;
}

.review__message textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
}

.review__data {
    display: flex;
    padding-bottom: 30px;
}

.review__data input {
    width: 100%;
    height: 41px;
    background-color: #F9F0EE;
    padding-left: 25px;
    border-radius: 5px;
}

.review__data input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
}

.review__data input:nth-child(2) {
    margin: 0 37px;
}

.review__button {
    display: flex;
    align-items: center;
}

.review__btn button {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    margin-right: 30px;
    color: #9A3C48;
    background-color: #FFB0BA;
    box-shadow: 3px 3px 0px 3px #DE8E98;
    border-radius: 100px;
    width: 250px;
    height: 63px;
    cursor: pointer;
    transition: all 0.6s ease;
}
.review__btn button:hover {
    padding-top: 3px;
    padding-left: 3px;
    box-shadow: none;   
}

.review__checkbox {
    position: relative;
}

.review__checkbox-input {
    appearance: none;
    position: absolute;
}

.review__checkbox-label {
    padding-left: 41px;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.review__checkbox-label::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 23px;
    border-radius: 5px;
    background-color: #F9F0EE;
    cursor: pointer;
    
}
.review__checkbox-label::before {
    cursor: pointer;
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 23px;
    top: 0;
    left: 7px;
    z-index: 2;
    background: url(../img/check.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.review__checkbox-input:checked + .review__checkbox-label::before {
    opacity: 0;
}