:root {
    --Montserrat: 'Montserrat', sans-serif;

    --icon: 'icomoon' !important;

    --white-color: #ffffff;
    --white-opacity-color: rgba(255, 255, 255, 0.4);
    --white-border-color: rgba(228, 227, 227, 0.2);
    --hitGray-color-background: rgba(174, 181, 185, 0.5);
    --Abbey-color-background: rgba(76, 82, 85, 0.4);
}